/* mobile S-M-L */
@media screen and (max-width: 426px) {
  /* background */

  .sm-bg-orange {
    background-color: #e67b13;
  }

  .sm-bg-grey {
    background-color: #292d33;
  }

  .sm-bg-black {
    background-color: #0000;
  }

  /* text-color */

  .sm-text-white {
    color: rgb(255 255 255);
  }

  /* font-size */

  .sm-text-6xl {
    font-size: 3.75rem; /* 60px */
    line-height: 1;
  }

  .sm-text-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
  }

  /* flex */

  .sm-flex {
    display: flex;
  }

  /* style */

  .sm-overflow-x-hidden {
    overflow-x: hidden;
  }

  .sm-rounded-none {
    border-radius: 0px;
  }

  .sm-opacity-20 {
    opacity: 0.2;
  }

  /* position */

  .sm-scroll-auto {
    scroll-behavior: auto;
  }

  /* margin */

  /* padding */

  .sm-py-2-5 {
    padding-top: 0.625rem; /* 10px */
    padding-bottom: 0.625rem; /* 10px */
  }

  .sm-px-7 {
    padding-left: 1.75rem; /* 28px */
    padding-right: 1.75rem; /* 28px */
  }

  .sm-pt-24 {
    padding-top: 6rem; /* 96px */
  }

  .sm-pt-28 {
    padding-top: 7rem; /* 112px */
  }

  .sm-pt-52 {
    padding-top: 13rem; /* 208px */
  }

  .sm-pr-12 {
    padding-right: 3rem; /* 48px */
  }

  .sm-pl-16 {
    padding-left: 4rem; /* 64px */
  }

  .sm-pr-9 {
    padding-right: 2.25rem; /* 36px */
  }

  .sm-pt-5 {
    padding-top: 1.25rem; /* 20px */
  }

  .sm-pl-14 {
    padding-left: 3.5rem; /* 56px */
  }

  .sm-pl-56 {
    padding-left: 13.5rem; /* 224px */
  }
}
